<form id="update-customer" (ngSubmit)="onSave(customerForm)" #customerForm="ngForm">
  <div *ngFor="let error of errors">
    {{error.field}} {{error.type}}
  </div>
  <span class="p-buttonset">
    <button pButton type="submit" label="Enregistrer" icon="pi pi-check"></button>
  </span>
  <div>&#160;</div>
  <p-panel header="Civilité">
    <div class="p-field p-grid form-group">
      <div><label for="number" class="p-col-fixed">Numéro</label></div>
      <div class="p-col">
        <input id="number" name="number" class="form-control" type="text" pInputText [(ngModel)]="customer.number" disabled="disabled">
      </div>
    </div>
    <div class="p-field p-grid form-group">
      <div><label for="firstname" class="p-col-fixed">Prénom</label></div>
      <div class="p-col">
        <input id="firstname" name="firstname" class="form-control" type="text" pInputText [(ngModel)]="customer.firstName" required minlength="1">
      </div>
    </div>
    <div class="p-field p-grid form-group">
      <div><label for="lastname" class="p-col-fixed">Nom</label></div>
      <div class="p-col">
        <input id="lastname" name="lastname" class="form-control" type="text" pInputText [(ngModel)]="customer.lastName" required minlenght="1">
      </div>
    </div>
  </p-panel>
  <div>&#160;</div>
  <p-panel header="Adresse">
    <div class="p-field p-grid form-group">
      <div><label for="address1" class="p-col-fixed">Adresse</label></div>
      <div class="p-col">
        <input id="address1" name="address1" class="form-control" type="text" pInputText [(ngModel)]="customer.address1" required minlength="1">
      </div>
    </div>
    <div class="p-field p-grid form-group">
      <div><label for="address2" class="p-col-fixed">Complémente adresse 1</label></div>
      <div class="p-col">
        <input id="address2" name="address2" class="form-control" type="text" pInputText [(ngModel)]="customer.address2">
      </div>
    </div>
    <div class="p-field p-grid form-group">
      <div><label for="address3" class="p-col-fixed">Complémente adresse 2</label></div>
      <div class="p-col">
        <input id="address3" name="address3" class="form-control" type="text" pInputText [(ngModel)]="customer.address3">
      </div>
    </div>
    <div class="p-field p-grid form-group">
      <div><label for="zipCode" class="p-col-fixed">Code postal</label></div>
      <div class="p-col">
        <input id="zipCode" name="zipCode" class="form-control" type="text" pInputText [(ngModel)]="customer.zipCode" required minlength="1">
      </div>
    </div>
    <div class="p-field p-grid form-group">
      <div><label for="city" class="p-col-fixed">Ville</label></div>
      <div class="p-col">
        <input id="city" name="city" class="form-control" type="text" pInputText [(ngModel)]="customer.city" required minlength="1">
      </div>
    </div>
    <div class="p-field p-grid form-group">
      <div><label for="country" class="p-col-fixed">Pays</label></div>
      <div class="p-col">
        <input id="country" name="country" class="form-control" type="text" pInputText [(ngModel)]="customer.country" required minlength="1">
      </div>
    </div>
  </p-panel>
  <div>&#160;</div>
  <p-panel header="Téléphone & mail">
    <div class="p-field p-grid form-group">
      <div><label for="phone" class="p-col-fixed">Téléphone</label></div>
      <div class="p-col">
        <input id="phone" name="phone" class="form-control" type="text" pInputText [(ngModel)]="customer.phone" required minlength="3">
      </div>
    </div>
    <div class="p-field p-grid form-group">
      <div><label for="email" class="p-col-fixed">Email</label></div>
      <div class="p-col">
        <input id="email" name="email" class="form-control" type="text" pInputText [(ngModel)]="customer.email" required email>
      </div>
    </div>
  </p-panel>
  <p-blockUI [blocked]="blocked"></p-blockUI>
</form>
