<div style="width:25%">
  <span class="p-buttonset">
    <button pButton type="button" label="Enregistrer" icon="pi pi-save" style="margin-bottom:5px; margin-right:5px" (click)="onSave()"></button>
    <button pButton type="button" label="Valider" icon="pi pi-check" style="margin-bottom:5px" (click)="onSave()"></button>
  </span>
  <p-panel header="Entête">
    <div id="header">
      <div><div style="margin-top:0px" class="label">Numéro Client :</div><div style="margin-top:0px" class="label">{{document.customer.number}}</div></div>
      <div><div class="label">Client :</div><p-autoComplete [suggestions]="customers" (completeMethod)="searchCustomer($event)" field="fullName" [(ngModel)]="document.customer" emptyMessage="Aucun résultat" [required]="true" class="autocomplete ng-invalid" placeholder="Nom du client"></p-autoComplete></div>
      <div><div class="label">Date du devis :</div><p-calendar [(ngModel)]="document.date" dateFormat="dd/mm/yy" [required]="true" placeholder="Date du devis"></p-calendar></div>
      <div><div class="label">Expire le :</div><p-calendar [(ngModel)]="document.expirationDate" dateFormat="dd/mm/yy" [required]="true" placeholder="Date expiration"></p-calendar></div>
    </div>
  </p-panel>
  <div>&#160;</div>
  <p-panel header="Articles">
    <div id="details">
      <div>
        <div class="label">Recherche :</div><p-autoComplete [suggestions]="products" (completeMethod)="searchProduct($event)" field="name" [(ngModel)]="product" emptyMessage="Aucun résultat" (onSelect)="onSelectProduct($event)" placeholder="Nom de l'article" class="autocomple ng-invalid"></p-autoComplete>
      </div>
    </div>
  </p-panel>
</div>
<div style="width:65%">
  <p-table #dt [columns]="cols" [value]="document.items" id="quote-items" [scrollable]="true" scrollHeight="500px"
           [globalFilterFields]="['code','name','price','taxPercent']">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <td *ngFor="let col of columns">
          {{col.header}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>{{rowData.order}}</td>
        <td>{{rowData.name}}</td>
        <td><input pInputText type="number" [(ngModel)]="rowData.price" (change)="onChangeDocument()" class="item-line" /></td>
        <td>{{rowData.taxPercent}}</td>
        <td><input pInputText type="number" [(ngModel)]="rowData.quantity" (change)="onChangeDocument()" class="item-line" /></td>
        <td>{{rowData.taxAmount  | currency:'EUR'}}</td>
        <td>{{rowData.totalFreeTax | currency:'EUR'}}</td>
        <td>{{rowData.total | currency:'EUR'}}</td>
        <td><button type="button" class="p-button-rounded p-button-danger p-button-outlined p-button p-button-icon-only pi pi-times" (click)="removeItemLine(rowData.order)"></button></td>
      </tr>
    </ng-template>
  </p-table>
  <div *ngIf="document.items.length > 0" id="footer">
    <div class="label">Montant TVA : {{document.taxAmount | currency:'EUR'}}</div>
    <div class="label">Montant HT : {{document.totalFreeTax | currency:'EUR'}}</div>
    <div class="label">Montant TTC : {{document.total | currency:'EUR'}}</div>
  </div>
</div>


