<div class="p-buttonset menubar">
  <button pButton type="button" label="Enregistrer" icon="pi pi-save" style="margin-bottom:5px; margin-right:5px" (click)="onSave()"></button>
  <button pButton type="button" label="Valider" icon="pi pi-check" style="margin-bottom:5px" (click)="onSave()"></button>
</div>
<p-tabView>
  <p-tabPanel header="Détails">
    <div style="width:25%">
      <div id="header">
        <div><div style="margin-top:0px" class="label">Numéro Client&#160;</div><div style="margin-top:0px;padding-left:20px;" class="label">{{document.customer.number}}</div></div>
        <div><div class="label">Client&#160;</div><p-autoComplete [suggestions]="customers" (completeMethod)="searchCustomer($event)" field="fullName" [(ngModel)]="document.customer" emptyMessage="Aucun résultat" [required]="true" class="autocomplete ng-invalid" placeholder="Nom du client"></p-autoComplete></div>
        <div><div class="label">Date du devis&#160;</div><p-calendar [(ngModel)]="document.date" dateFormat="dd/mm/yy" [required]="true" placeholder="Date du devis"></p-calendar></div>
        <div><div class="label">Expire le&#160;</div><p-calendar [(ngModel)]="document.expirationDate" dateFormat="dd/mm/yy" [required]="true" placeholder="Date expiration"></p-calendar></div>
      </div>
      <div id="details">
        <div>
          <div class="label">Recherche&#160;</div><p-autoComplete [suggestions]="products" (completeMethod)="searchProduct($event)" field="name" [(ngModel)]="product" emptyMessage="Aucun résultat" (onSelect)="onSelectProduct($event)" placeholder="Nom de l'article" class="autocomple ng-invalid"></p-autoComplete>
        </div>
      </div>
    </div>
    <div style="max-width:70%">
      <p-table #dt [value]="document.items" id="quote-items" [scrollable]="true" scrollHeight="500px"
               [globalFilterFields]="['code','name','price','taxPercent']">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <td class="order">N°</td>
            <td class="designation">Désignation</td>
            <td class="amount">Prix HT</td>
            <td class="tax">Taxe (%)</td>
            <td class="quantity">Quantité</td>
            <td class="amount">Montant Taxe</td>
            <td class="amount">Total HT</td>
            <td class="amount">Total TTC</td>
            <td class="remove-item"></td>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td class="order">{{rowData.order}}</td>
            <td class="designation"><input pInputText type="text" [(ngModel)]="rowData.name" /></td>
            <td class="amount"><input pInputText type="number" [(ngModel)]="rowData.price" (change)="onChangeDocument()" /></td>
            <td class="tax">{{rowData.taxPercent}}</td>
            <td class="quantity"><input pInputText type="number" [(ngModel)]="rowData.quantity" (change)="onChangeDocument()" /></td>
            <td class="amount">{{rowData.taxAmount  | currency:'EUR'}}</td>
            <td class="amount">{{rowData.totalFreeTax | currency:'EUR'}}</td>
            <td class="amount">{{rowData.total | currency:'EUR'}}</td>
            <td class="remove-item"><button type="button" class="p-button-rounded p-button-danger p-button-outlined p-button p-button-icon-only pi pi-times" (click)="removeItemLine(rowData.order)"></button></td>
          </tr>
        </ng-template>
      </p-table>
      <div class="footer" *ngIf="document.items.length > 0" id="footer">
        <div><div class="label">Montant TVA :</div><div class="amount">{{document.taxAmount | currency:'EUR'}}</div></div>
        <div><div class="label">Montant HT :</div><div class="amount">{{document.totalFreeTax | currency:'EUR'}}</div></div>
        <div><div class="label">Montant TTC :</div><div class="amount">{{document.total | currency:'EUR'}}</div></div>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Adresse client">
    Content 2
  </p-tabPanel>
  <p-tabPanel header="Header 3">
    Content 3
  </p-tabPanel>
</p-tabView>



