<div id="div-main-login">
  <div id="header-logo"></div>
  <form id="user-login" (ngSubmit)="onLogon(loginForm)" #loginForm="ngForm">
    <p-panel header="Connexion" [hidden]="modeLostPassword">
      <div class="p-field p-grid form-group">
        <div><label for="login" class="p-col-fixed">Email</label></div>
        <div class="p-col">
          <input id="login" name="login" class="form-control" type="text" pInputText [(ngModel)]="login" required minlength="1" />
        </div>
      </div>
      <div class="p-field p-grid form-group">
        <div><label for="password" class="p-col-fixed">Mot de passe</label></div>
        <div class="p-col">
          <input id="password" name="password" type="password" pPassword [(ngModel)]="password" required minlength="1" />
        </div>
      </div>
      <div class="p-field p-grid form-group">
        <span class="p-buttonset">
          <button class="p-button-sm" pButton type="submit" label="Connexion" icon="pi pi-sign-in"></button>
        </span>
      </div>
      <div style="margin-top:30px">
        <p-inputSwitch [(ngModel)]="modeLostPassword" name="lostPassword"></p-inputSwitch>&#160;Mot de passe perdu ?
        <div style="margin-top:10px;"><a href="entity/create">Créer un compte</a></div>
      </div>
    </p-panel>
  </form>
  <form id="user-recover-password" (ngSubmit)="onRecoverPassword(loginRecoverPwd)" #loginRecoverPwd="ngForm">
    <p-panel header="Mot de passe perdu" [hidden]="!modeLostPassword">
      <div class="p-field p-grid form-group">
        <div><label for="email" class="p-col-fixed">Email</label></div>
        <div class="p-col">
          <input id="email" name="email" class="form-control" type="text" pInputText [(ngModel)]="email" required minlength="1" />
        </div>
      </div>
      <div class="p-field p-grid form-group">
        <span class="p-buttonset">
          <button class="p-button-sm" pButton type="submit" label="Envoyer" icon="pi pi-sign-in"></button>
        </span>
      </div>
      <div style="margin-top:30px">
        <p-inputSwitch [(ngModel)]="modeLostPassword" name="lostPassword"></p-inputSwitch>&#160;Connexion
        <div style="margin-top:10px;"><a href="entity/create">Créer un compte</a></div>
      </div>
    </p-panel>
  </form>
</div>
