<div id="div-main-login">
  <form id="user-login" (ngSubmit)="onLogon(loginForm)" #loginForm="ngForm">
    <p-panel header="Connexion" [hidden]="modeLostPassword">
      <div class="p-field p-grid form-group">
        <div><label for="login" class="p-col-fixed">Identifiant</label></div>
        <div class="p-col">
          <input id="login" name="login" class="form-control" type="text" pInputText [(ngModel)]="login" required minlength="1" />
        </div>
      </div>
      <div class="p-field p-grid form-group">
        <div><label for="password" class="p-col-fixed">Mot de passe</label></div>
        <div class="p-col">
          <input id="password" name="password" type="password" pPassword [(ngModel)]="password" required minlength="1" />
        </div>
      </div>
      <div class="p-field p-grid form-group">
        <span class="p-buttonset">
          <button class="p-button-sm" pButton type="submit" label="Connexion" icon="pi pi-sign-in"></button>
        </span>
      </div>
    </p-panel>

    <p-panel header="Mot de passe perdu" [hidden]="!modeLostPassword">
      <div class="p-field p-grid form-group">
        <div><label for="email" class="p-col-fixed">Email</label></div>
        <div class="p-col">
          <input id="email" name="email" class="form-control" type="text" pInputText [(ngModel)]="email" required minlength="1" />
        </div>
      </div>
      <div class="p-field p-grid form-group">
        <span class="p-buttonset">
          <button class="p-button-sm" pButton type="submit" label="Envoyer" icon="pi pi-sign-in"></button>
        </span>
      </div>
    </p-panel>

    <div style="margin-top:10px; padding-left:5px">
      <p-inputSwitch [(ngModel)]="modeLostPassword" name="lostPassword"></p-inputSwitch>&#160;
      <span [hidden]="modeLostPassword">Mot de passe perdu ?</span>
      <span [hidden]="!modeLostPassword">Connexion</span>
    </div>

  </form>
</div>
