#div-main-entity-create {
  background-color: aliceblue;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%
}

#entity-create, #contact-create {
  top: 10%;
  position: absolute;
  width: 33%;
  left: 33%;
}

#header-logo {
  position: absolute;
  left: 15px;
  top: 15px;
  height: 80px;
  width: 90px;
  background-image: url("./../../assets/logo_small.png");
  background-repeat: no-repeat;
  z-index: 0;
}

input {
    width:80%;
    margin-bottom: 15px;
}
