<div style="width:25%">
  <p-panel header="Entête">
    <p-calendar [(ngModel)]="document.date" dateFormat="dd/mm/yy"></p-calendar>
  </p-panel>
  <div>&#160;</div>
  <p-panel header="Articles">
    <p-autoComplete [suggestions]="products" (completeMethod)="search($event)" field="name" [(ngModel)]="current" emptyMessage="Aucun résultat" (onSelect)="onSelectProduct($event)"></p-autoComplete>
  </p-panel>
</div>
<div style="width:65%">
  <p-table #dt [columns]="cols" [value]="document.items" id="quote-items" [scrollable]="true" scrollHeight="500px"
           [globalFilterFields]="['code','name','price','taxPercent']">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <td *ngFor="let col of columns">
          {{col.header}}
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td>{{rowData.name}}</td>
        <td><input pInputText type="number" [(ngModel)]="rowData.price" (change)="onChangeDocument()" /></td>
        <td>{{rowData.taxPercent}}</td>
        <td><input pInputText type="number" [(ngModel)]="rowData.quantity" (change)="onChangeDocument()" /></td>
        <td>{{rowData.taxAmount  | currency:'EUR'}}</td>
        <td>{{rowData.totalFreeTax | currency:'EUR'}}</td>
        <td>{{rowData.total | currency:'EUR'}}</td>
      </tr>
    </ng-template>
  </p-table>
  <div *ngIf="document.items.length > 0" id="footer">
    <div>Montant TVA : {{document.taxAmount | currency:'EUR'}}</div>
    <div>Montant HT : {{document.totalFreeTax | currency:'EUR'}}</div>
    <div>Montant TTC : {{document.total | currency:'EUR'}}</div>
  </div>
</div>


