div {
    display:inline-block;
    vertical-align:top;
    margin-left:10px;
}

.item-line {
    width:60px;
}

#footer div, #header div {
    display: block;
    margin-top: 5px;
}

#header div.label, #details div.label {
    display: inline-block;
    min-width: 100px;
    font-size: small;
}

span input{
    background-color:red;
    width:60px !important;
    height:200px !important;
}
