div.p-field label {
}

div.p-field div {
  display: inline-block;
  min-width: 25%;
}

div.p-col {
  width: 75%
}

  div.p-col input {
    width: 100%;
  }

#update-product div.p-field {
  margin-bottom: 5px;
  font-weight: 300;
}
