/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/fluent-light/theme.css';
@import 'http://localhost:8000/pdf/document-html';

/* MUST BE APPLY AFTER PRIME NG CSS */
.p-table-buttonset input.p-inputtext, .p-table-buttonset div {
  height: 12px !important;
  font-size: 12px;
  margin-right: 25px;
}

.p-table-buttonset div.p-autocomplete-panel {
    min-height: 150px;
}

.section {
  border: 1px inset #939191;
  border-radius: 10px;
  padding: 5px 5px 100px 5px;
  margin: 5px 5px 5px 5px;
}

.left-panel, .right-panel {
  display: inline-block;
  vertical-align: top;
  margin-top: 15px;
}

.menubar {
  position: absolute;
  right: 20px;
  top: 110px;
}

.logout {
  display: inline-block;
  position: absolute;
  right: 20px;
}

.ng-valid:not(form).ng-valid:not(ae-select).ng-valid:not(angular-editor).ng-valid:not(p-inputswitch) {
  border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
}

button {
  cursor: pointer !important;
}

thead.p-datatable-thead {
  margin-bottom: 5px;
  font-weight: 600 !important;
}

#header-logo {
  position:absolute;
  left:15px;
  top:15px;
  height:80px;
  width:90px;
  background-image: url("./assets/logo_small.png");
  background-repeat: no-repeat;
  z-index:0;
}

p-menubar div.p-component {
  height:100px !important;
}

#workflow button {
  border-radius: 10px;
  margin-right:10px;
  width: 130px !important;
  height: 50px !important;
}
