/* You can add global styles to this file, and also import other style files */
@import '../node_modules/primeicons/primeicons.css';
@import '../node_modules/primeng/resources/themes/fluent-light/theme.css';

/* MUST BE APPLY AFTER PRIME NG CSS */
.p-table-buttonset input.p-inputtext, .p-table-buttonset div {
  height: 12px !important;
  font-size: 12px;
  margin-right: 25px;
}

.p-table-buttonset div.p-autocomplete-panel {
    min-height: 150px;
}

.menubar {
  position: absolute;
  right: 20px;
  top: 110px;
}

.logout {
  display: inline-block;
  position: absolute;
  right: 20px;
}

.ng-valid:not(form) {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

button {
  cursor: pointer;
}

thead.p-datatable-thead {
  margin-bottom: 5px;
  font-weight: 600 !important;
}

#header-logo {
  position:absolute;
  left:15px;
  top:15px;
  height:80px;
  width:90px;
  background-image: url("./assets/logo_small.png");
  background-repeat: no-repeat;
  z-index:0;
}

p-menubar div.p-component {
  height:100px !important;
}
