<div id="address">
  <div><div class="label">Adresse 1&#160;</div><input pInputText type="text" [(ngModel)]="customer.address1" class="address" required minlength="1" /></div>
  <div><div class="label">Adresse 2&#160;</div><input pInputText type="text" [(ngModel)]="customer.address2" class="address" /></div>
  <div><div class="label">Adresse 3&#160;</div><input pInputText type="text" [(ngModel)]="customer.address3" class="address" /></div>
  <div><div class="label">Code postal&#160;</div><input pInputText type="text" [(ngModel)]="customer.zipCode" class="address" required minlength="1" /></div>
  <div><div class="label">Ville&#160;</div><input pInputText type="text" [(ngModel)]="customer.city" class="address" required minlength="1" /></div>
  <div><div class="label">Pays&#160;</div><input pInputText type="text" [(ngModel)]="customer.country" class="address" required minlength="1" /></div>
  <div><div class="label">Email&#160;</div><input pInputText type="text" [(ngModel)]="customer.email" class="address" required minlength="1" /></div>
  <div><div class="label">Téléphone&#160;</div><input pInputText type="text" [(ngModel)]="customer.phone" class="address" required minlength="1" /></div>
</div>
